.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left a,
.header-center a,
.header-right a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s;
}

.header-left a:hover,
.header-center a:hover,
.header-right a:hover {
  color: #f90;
}

.header-center {
  display: flex;
  align-items: center;
}

.header-center .logo {
  height: 50px;
  margin: 0 20px;
}

.header-right a {
  font-size: 18px;
  color: #333;
  margin-left: 15px;
}

.header-right a:hover {
  color: #f90;
}

.header-container a {
  font-size: 16px;
}